:root
{
    box-sizing: border-box;
    --header-height:100px;
    --white:#ffffff;
    --black:#000000;
    --black50: rgba(255,255,255,0.5);
    --blackless:#131313;
}
@font-face 
{
    font-family: "OpenSans";
    src: url("../fonts/OpenSans-VariableFont_wdth\,wght.ttf");
}
@font-face 
{
    font-family: "FF7";
    src: url("../fonts/Reactor7.ttf") format("truetype");
}
@font-face 
{
    font-family: "MtSerrat";
    src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
    font-weight: normal;
}

body
{
    margin:0;
    font-family: "OpenSans";
    background: var(--blackless);
    color: var(--white);
}
h2,h3
{
    font-family: "OpenSans";
}
span
{
    font-family: "MtSerrat";
    font-weight: normal;
}
.pc50
{
    width: 50%;
}
.pc50:first-child
{
    margin-left: 100px;
}
.pc50:last-child
{
    margin-right: 100px;
}
.border
{
    border: 1px solid var(--white);
}
.fadeOutFast
{
    animation: fadeOut 0.5s forwards;
}
.hidden
{
    visibility: hidden;
}
.bold
{
    font-weight: bold;
}

/*************
INTRO
*************/

#blackscreen
{
    background-color: black;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 11;
    text-align: center;
    display: initial;
    font-family: "ff7";
    overflow-y: hidden;
    overflow-x: hidden;
}
#blackscreen div
{
    margin:auto;
    position: relative;
    top:0;
    opacity: 0;
    width:90%;
    font-size: 50px;
}
#start
{

    opacity: 0;
    font-size: 40px;
}


/*************
SWIPER
*************/
#mainWraper
{
    height: 100vh;
}
#mainWraper .swiper 
{
    height: calc(100vh - var(--header-height));
    width: 100%;
    overflow: hidden;
}
.slide-inner 
{
    width: 50%;
    height: 100%;
    background-size: cover;
    background-position: center;
}
#mainWraper .swiper-button-next
{
    margin-right:2em;
    animation: bounceR 2s ease-in-out infinite alternate-reverse;
    text-shadow: 1px 0px 3px lightgray;
    color:white ;
}
#mainWraper .swiper-button-disabled
{
    opacity:1 ;
}
#mainWraper .swiper-button-prev
{
    margin-left: 2em;
    animation: bounceL 2s ease-in-out infinite alternate-reverse;
    text-shadow: -1px 0px 3px lightgray;
    color:white ;
}

#slideList .swiper-pagination-bullet,#slideList .swiper-pagination-bullet-active
{
    opacity: 1 ;
    padding: 3px;
}
#slideList .swiper-pagination-bullet
{
    background-color: var(--black);
    border: 2px solid var(--white)
}
#slideList .swiper-pagination-bullet-active
{
    background-color:white; 
}
#slideList
{
    height: 30px;
    top:65px;
}

/*************
HEADER
*************/

header
{
    height: var(--header-height);
    display: flex;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
}
header img
{
    height: 50px;
    margin-top: auto;
    margin-bottom: auto;
    position: absolute;
    left: 10px;
    top: 10px;
}
header h2,header span
{
    display: inline;
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 1px;
}
header div
{
    margin-top: 1em;
}

.popupMail
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 15;
    position: absolute;
    width: 300px;
    height: 150px;
    bottom: 50px;
    left: 50px;
    background-color: var(--black);
    border: 2px solid white;
    animation: fadeOutDelayed 8s forwards;
}


/*************
SLIDER 1
*************/

#article1
{
    display: flex;
    flex-direction: row;
    height: 100%;
}
#article1 .pc50:first-child
{
    height: 60vh;
    margin-top: auto;
    margin-bottom: auto;
}
#article1 .pc50:first-child div
{
    height: 100%;
    display: flex;
}
#article1 .pc50:first-child img
{
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    border-radius: 5px;
    border-width: 2px;
}
#article1 .pc50:last-child
{
    height: 60vh;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.dialog__content /* FF7 dialog box :D */
{
    border: solid 1px #ffffff;
    box-shadow: 1px 1px #e7dfe7,
                -1px -1px #e7dfe7,
                1px -1px #e7dfe7,
                -1px 1px #e7dfe7,
                0 -2px #9c9a9c,
                -2px 0 #7b757b,
                0 2px #424542;
    padding: 5px 10px;
    background: linear-gradient(to bottom,  #04009d 0%,#06004d 100%);
    border-radius: 7px;
    color: #eff1ff;
    text-shadow: 2px 2px #212421,
                1px 1px #212021;
    font-family: "FF7";
    font-size: 28px;
    font-weight: normal;
    line-height: normal;
    flex-basis: 200px;
    opacity: 0;
}

.dialog__content p:not(p:first-child)
{
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    margin-left: 15px;
}
.dialog__content p:first-child
{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}


/*************
COMPETENCE SLIDER 2
*************/
#article2
{
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
}
#article2 a
{
    color:var(--white);
    font-weight: bold;
}
#article2 .pc50
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 60vh;
    margin-top: auto;
    margin-bottom: auto;
    
}
#article2 .pc50:last-child
{
    text-align: center;
    position: relative;
}
#article2 table
{
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 100%;
}

#article2 p,#article2 span
{
    margin: 0;
    z-index: 1;
}
#article2 span
{
    display: flex;
    align-items: center;
    justify-content: center;
}
#article2 tr
{
    position: relative;
    animation: buttonDown 0.2s ease-in-out forwards;
}
#article2 tr:hover
{
    /*animation: buttonUp 0.2s ease-in-out forwards;*/
}
#article2 .line
{
    position: absolute;
    top:calc(50% - 4px);
    right: 15%;
    height: 4px;
    width: 80%;
    background-color: var(--white);
    z-index: -1;
}
#article2 tr:nth-child(odd)
{
    color:var(--black);
}
#article2 tr:nth-child(odd) span
{
    background-color: var(--white);
    border: 2px solid var(--black);
}
#article2 tr:nth-child(even) span
{
    background-color: var(--black);
    border: 2px solid var(--white);
}
#article2 td:last-child
{
    position: relative;
}
#article2 td:last-child span:not(.square2)
{
    padding: 15px 15px 15px 15px;
    border-radius: 10px; 
    font-size: 20px;
}
#article2 td:last-child span.square2
{
    position: absolute;
    width: 6px;
    height: 4px;
    top:calc(50% - 2px);
    left:-3px;
    border: none;
}
#article2 td:first-child span:not(.square)
{
    max-height: 80px;
    min-height: 80px;
    max-width: 80px;
    min-width: 80px;
    margin-right: 1em;
    font-family: "OpenSans";
    font-weight: bold;
    font-size: 25px;
    border-radius: 50px;
    position: relative;
}
#article2 td:first-child span.square
{
    position: absolute;
    width: 5px;
    height: 4px;
    top:calc(50% - 2px);
    right:-3px;
    border: none;
}
#article2 tr:nth-child(even) .line
{
    background-color: var(--black);
    border: 2px solid var(--white);
}
#article2 tr:nth-child(odd) .line
{
    border: 2px solid var(--black);
}
#article2 .border
{
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    z-index: 5;
    background-color: var(--blackless);
    height: 100%;
    margin: auto;
}
#article2 .pc50:last-child p:first-child
{
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
}
#article2 .pc50:last-child p:last-child
{
    font-family: "MtSerrat";
    margin-top: 1em;
}
#outerBorder
{
    padding:5px;
    z-index: 5;
    position: relative;
    overflow: hidden;
    height: 80%;
    width: 80%;
    margin: auto;
}
#article2 .borderR
{
    width:120%;
    height: 200px;
    position: absolute;
    opacity: 0;
}
#border1
{
    top:50px;
    background-color: red;
}
#border2
{
    background-color: blue;
}
#border3
{
    background-color: green;
    bottom: 50px;
}
#article2 .pc50:last-child .borderR
{
    animation: borderRotate 5s linear infinite;
}


/*************
CONSOLE SLIDER 3
*************/
#article3
{
    display:flex;
    flex-direction: row;
    height: 100%;
}
#article3 .pc50
{
    height:60vh;
    margin-top: auto;
    margin-bottom: auto;
}
#console-top
{
    display: flex;
    align-content: center;
    background-color: white;
    color: black;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
}
#console-top span
{
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 1em;
    font-size: 1.5em;
    top:50%;
    transform: translate(0,-50%);
}
#console-top span p
{
    margin: 0;
    margin-left: 0.5em;
    margin-right: 0.5em;
    font-weight: bold;
}
#console-top img
{
    margin-left: 0.5em;
    margin-right: 0.5em;
}
#console
{
    border: solid 1px lightgray;
    border-color: lightgray;
    height: 100%;
    position: relative;
    width: 80%;
    margin: auto;
    overflow: hidden;
}
#console:hover
{
    animation: consoleColor 0.5s ease-in-out forwards; 
}
#console p:not(#console-top p)
{
    font-family: "MtSerrat";
    line-height: 1.5em;
}
#p1
{
    position: absolute;
    top:0;
    padding-top: 1em;
}
#p2
{
    position: absolute;
    bottom:-100vh;
    padding-top: 1em;
}
#i1
{
    position: absolute;
    top:0;
    max-width: 100%;
}
#i2
{
    position: absolute;
    bottom:-100vh;
}
#article3 .pc50:first-child div
{
    height: 100%;
    display: flex;
    max-width: 40vw;
}
#article3 .pc50:first-child img
{
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    border-radius: 5px;
    border-width: 2px;
}
#article3 object
{
    height: 100px;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);

}

/*************
FORM SLIDER 4
*************/
#article4 
{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
#article4 div:not(form div)
{
    width: 50%;
    margin:auto;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#article4 form
{
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: space-between;
    min-height: 450px;
}
#article4 form #formContainer
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#article4 form #formContainer div
{
    width: 45%;
}
#article4 p
{
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}
#article4 form #formContainer div,#article4 form div
{
    display: flex;
    flex-direction: column;
}
#article4 form button
{
    width: 200px;
    margin-right: auto;
    margin-left: auto;
    font-family: "MtSerrat";
    font-size: 30px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    animation: buttonDown 0.2s ease-in-out forwards; 
}
#article4 form button:hover
{
    animation: buttonUp 0.2s ease-in-out forwards; 
    cursor: pointer;
}
#article4 input,#article4 textarea
{
    background-color: transparent;
    color: var(--white);
    border:none;
    border-bottom: 1px solid #949494;
}
#article4 input
{
    height: 2em;
    z-index: 0;
    padding-left: 1em;
}
#article4 textarea
{
    border: 1px solid #949494;
    z-index: 0;
    padding-left: 1em;
}
#article4 label
{
    margin-left: 0.5em;
    transform: translate(0,150%);
    z-index: 0;
    color: #949494;
}
#article4 input,#article4 textarea,#article4 label,#article4 button,#article4 p
{
    font-family: "MtSerrat";
    font-size: 20px;
}

#article4 form .inputFocus
{
    animation: formUP 0.3s ease-in-out forwards; 
}
#article4 form .inputLoseFocus
{
    animation: formDOWN 0.3s ease-in-out forwards; 
}
#article4 img
{
    width: 100px;
    height: 100px;
    
}
#article4 a
{
    position: absolute;
    top:50px;
    animation: linkPopDown 0.2s ease-in-out forwards; 
}
#article4 a:hover
{
    animation: linkPopUp 0.5s ease-in-out forwards; 
}
#article4 a:first-child
{
    left:10%;
}
#article4 a:nth-child(2)
{
    right:10%;
}

/*************
FOOTER
*************/
footer
{
    
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    bottom: 0;
    z-index: 6;
}
footer p
{
    opacity: 0.3;
}
footer p:first-child,footer p:last-child
{
    text-decoration: underline;
}
footer p:first-child:hover,footer p:last-child:hover
{
    cursor: pointer;
    opacity: 1;
}

/*************
MENTIONS
*************/
.modalBox
{
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--black50);
    z-index: 10;
    display:none;
}
.modal
{
    transform: translate(40%,40%);
    width: 60vw;
    height: 60vh;
    background-color: var(--black);
    z-index: 10;
    font-family: "MtSerrat";
    position: relative;
}
.modalHeader
{
    width: 100%;
    height: 1.5em;
    color:var(--black);
    background-color: var(--white);
    text-align: center;
    font-weight: bold;
    position: fixed;
    border:1px solid var(--black);
    border-bottom: none;
}
.modalBody
{
    padding: 2em;
    overflow-y: scroll;
    height: 100%;
    background-color: var(--black);
}
.modal a
{
    color: var(--white);
    font-weight: bold;
}

/*************
COOKIES
*************/
#cookie
{
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    background-color: #04009d;
    z-index: 15;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    display: none;
}
#cookie span:first-child
{
    margin-top: 0.5em;
    margin-left: auto;
    margin-right: auto;
}
#cookie span:nth-child(2)
{
    position: absolute;
    right: 15px;
    top: 15px;
    font-weight: bold;
    font-size: 1.5em;
    cursor: pointer;
    width: 30px;
    height: 30px;
}
#cookie div
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
}
#cookie p
{
    background-color: #016262;
    border-radius: 5px;
    min-width: 150px;    
    text-align: center;
    padding: 0.5em;
    cursor: pointer;
}
#cookie p:hover
{
    background-color: teal;
}

@keyframes fadeOutDelayed
{
    0%
    {
        opacity: 1;
    }
    75%
    {
        opacity: 1;
    }
    99%
    {
        transform: scale(1);
        opacity: 0;
        border: 2px solid white;
    }
    100%
    {
        transform: scale(0);
        opacity: 0;
        border: none;
    }
}
@keyframes borderRotate
{
    0%
    {
        opacity: 1;
        transform: rotate(0deg) translate(-50%,0);
    }
    100%
    {
        opacity: 1;
        transform: rotate(360deg) translate(-50%,0);
    }
}
@keyframes buttonUp
{
    0%
    {
        transform: scale(100%);
    }
    100%
    {
        transform: scale(120%);
    }
}
@keyframes buttonDown
{
    0%
    {
        transform: scale(120%);
    }
    100%
    {
        transform: scale(100%);
    }
}
@keyframes linkPopUp
{
    0%
    {
        transform: scale(100%) rotate(0deg);
    }
    25%
    {
        transform: rotate(20deg)
    }
    50%
    {
        transform: scale(120%) rotate(-20deg);
    }
    75%
    {
        transform: scale(120%) rotate(20deg)
    }
    100%
    {
        transform: scale(120%) rotate(0deg);
    }
}
@keyframes linkPopDown
{
    0%
    {
        transform: scale(120%);
    }
    100%
    {
        transform: scale(100%);
    }
}
@keyframes consoleColor 
{
    0%
    {
        background-color: transparent;
    }
    100% 
    {
        background-color: var(--black);
    }
}
@keyframes formUP
{
    0%
    {
        transform: translate(0, 150%);
        color: #949494;
    }
    100%
    {
        transform: translate(0,-10%);
        color: white;
    }
}
@keyframes formDOWN
{
    0%
    {
        transform: translate(0, -10%);
        color: white;
    }
    100%
    {
        transform: translate(0,150%);
        color: #949494;
    }
}
@keyframes bounceR
{
    0%
    {
        transform: translate(0, 0);
    }
    20%,
    100% 
    {
        transform: translate(10px, 0);
    }
}
@keyframes bounceL
{
    0%
    {
        transform: translate(0, 0);
    }
    20%,
    100% 
    {
        transform: translate(-10px, 0);
    }
}

@keyframes fadeOut 
{
    0% 
    {
        opacity:1;
    }
    100% 
    {
        opacity:0;
    }
}